@use '../../util/extends';
@use '../../util/custom-properties';

.content-block
{
    padding-bottom: 8rem;
    background-color: #fafafa;
}

.content
{
  @extend .container;
  padding-top: 13.5em;

  &--padding
  {
    padding-top: 5rem;
  }
  &--less-padding
  {
    padding-top: 2rem;
  }
  &__products-link
  {
    @extend .link;
    color: var(--text-color);
    margin-bottom: 1rem;
  }

    &__product
    {
       @extend .flex;
       margin-bottom: 7.5rem;
       gap: 7rem;

       &--reverse
       {
          flex-direction: row-reverse;

          aside
          {
            padding:0 0 0 1.5rem;
          }
       }

       &-section
       {
          @extend .flex;
          flex: 0 1 52%;
          background-color: var(--background-color);
          padding: 1.5rem 0;
          border-radius: 1.2rem;
          align-items: center;
          justify-content: center;
          
          img
          {
            width: 80%;
          }
       }
       &-aside
       {
          @extend .flex;
          flex: 1;
          flex-direction: column;
          align-items: flex-start;
          color: var(--secondary-color);
          padding-right: 1.5rem;

          &--product-page
          {
            flex: none;
            padding: 0;
            width: 420px;
          }

          & > *
          {
            margin-bottom: 1.2rem;
          }
          h5
          {
            color: var(--primary-color);
            text-transform:uppercase;
            letter-spacing: .5rem;
            font-size: 1rem;
            font-weight:300;
          }
          h1
          {
            font-size: 2.2rem;

            span
            {
              text-transform: uppercase;
            }
          }
          p
          {
            color: var(--text-color);
            margin-bottom: 1.6rem;
          }  
          a,button
          {
            @extend .link-button;
            background-color: var(--primary-color);
            color: #fff;
            text-transform: uppercase;
          }
       }

       &-form
       {
         @extend .flex;
         gap: 1rem;
         
         &-container
         {
           @extend .flex;
           background-color: #f1f1f1;
           
           div
           {
              font-size: 1.2em;
              padding: .6rem;
              cursor: pointer;
              transition: ease-in-out 150ms;

              &:hover
              {
                background-color: rgb(201, 201, 201);
                color: var(--primary-color);
              }
           }

           input
           {
              border: none;
              text-align: center;
              outline: none;
              font-size: 1em;
              font-weight: bolder;
              background-color: transparent;
              width: 5rem;
           }
         }
       }
       &-err
       {
         opacity: 0;
         pointer-events: none;
         color: rgb(247, 49, 49);

         &.show
         {
           opacity: 1;
         }
       }
       &-description
       {
          @extend .flex;
          flex-direction: column;
          align-items: flex-start;
          gap: .5rem;
          color: var(--primary-color);
          margin-bottom: 9.5rem;
          width: 35rem;
          max-width: 100%;

          h1
          {
            font-size: 2.3rem;
            color: var(--text-color-black);
          }
          span
          {
            font-weight: bold;

            span
            {
              color: var(--text-color-black);
            }
          }
          ul
          {
             color: var(--text-color);
          }
       }
       &-img-container
       {
          display: grid;
          grid-template-columns: repeat(2,1fr);
          grid-template-rows: repeat(2,auto);
          gap: 2rem;
          width: 100%;
       }
       &-img
       {
          @extend .flex;
          justify-content: center;
          background-color: var(--background-color3);
          border-radius: 1rem;
          overflow: hidden;

          img
          {
            width: 80%;
          }

          &--large
          {
            grid-row: 1 / span 2;
            max-height: fit-content;
            
            img
            {
              width: 130%;
            }
          }
       }
    }

    &__link-block
    {
        text-align: center;
    }
    &__link-ver-todo
    {
        @extend .link-button;
    }
    
}

@media only screen and (max-width:900px) 
{
   .content
   {
     &__product--headphones
     {
       flex-direction: column;
       gap: 2.2rem;

       & > *
       {
          width: 100%;
       }

       &-aside
       {
         text-align: center;
         padding: 0 3.5rem;
         align-items: center;

       }
       &--reverse aside
       {
         padding: 0;
       }
     }
     &__product--product-page
     {
       gap: 2rem;
       &--product-page
       {
         
       }
     }
   }
}
@media only screen and (max-width:660px)
{
   .content
   {
     &__product--product-page
     {
       gap: 2rem;
       flex-direction: column;
       align-items: flex-start;
     }
   }
}
@media only screen and (max-width:400px)
{
  .content
  {
    &__product-form
    {
      &-container 
      {
        justify-content: space-between;

        input
        {
          width: auto;
          flex: 1;
        }
        & > div
        {
           padding-right: 1.1rem;
           padding-left: 1.1rem;
           font-size: 1.3em;
           font-weight: 800;
        }
        
      }
      flex-direction: column;
      width: 100%;

      & > *
      {
         width: 100%;
      }
    }
  }
}
@media only screen and (max-width:500px)
{
  .content
   {
     &__product
     {
       font-size: 14px;

       &-aside
       {
         text-align: center;
         padding: 0 1.5rem;
         align-items: center;

         &--product-page
         {
           width: auto;
           text-align: left;
           padding: 0;
           align-items: flex-start;
         }
       }
     }
   }
}