@use '../util/extends';
@use '../util/custom-properties';

.header
{
    display: block;
    position: relative;
    background-color: var(--secondary-color);
    z-index: 15;
}

.nav-bar
{
    @extend .flex,.container;
    justify-content: space-between;
    position: relative;
    padding: 1.5em 24px;
    
    &::after
    {
        content:' ';
        position: absolute;
        z-index: 9;
        height: 1px;
        background-color: #303030;
        width: calc(100% - 48px);
        left: 50%;
        transform: translateX(-50%);
        bottom: 0; 
    }

    &__mob-button
    {
        @extend .button;
        display: none;
        font-size: 1.4em;
        width: 19.61px;
        align-items: center;
        justify-content: center;
        margin-right: .7em;
        background-color: transparent;
        color: #fff;

        &-cross
        {
            display: none
        }
        &.active &-bars
        {
            display: none;
        }
        &.active &-cross
        {
            display: block;
        }
    }
    &__logo
    {
        @extend .link;
        font-size: 1.2em;
        position: relative;
        transition: ease-in-out 300ms;
        color: #fff;
      
        h1
        {   
            font-weight: 800;
        }

        &:hover
        {
            transform: translateY(-.2em);
            color: var(--primary-color);
        }
    }
    &__list
    {
        @extend .flex;
        list-style: none;

        &-admin
        {
            position: absolute;
            z-index: 10;
            pointer-events: none;
            opacity: 0;
            top: 100%;
            background-color: #fff;
            &:hover
            {
                pointer-events: auto;
                opacity: 1;
            }
        }
    }
    &__item
    {
        position: relative;
    }
    &__link
    {
        @extend .link;
        color: #fff;
        text-transform: uppercase;
        font-weight:700;
        font-size: .9em;
        padding: 0 1.5em;
        transition: ease-in-out 300ms;
        letter-spacing: .1em;

        &:hover,&.active
        {
            color: var(--primary-color);
        }
        &-admin:hover + ul
        {
           opacity: 1;
           pointer-events: auto;
        }
    }
    &__input-container
    {
        @extend .flex;
        width: 10rem;
        max-width: 100%;
        flex-direction: row-reverse;
        background-color: var(--background-color2);
        border-radius: .2rem;
        padding: .5rem;

        button
        {
            @extend .button;
            background-color: var(--backgroun-color3);

            i
            {
                color: var(--text-color-black);
            }
        }

        input
        {
            width: 100%;
            outline: none;
            border: none;
            background-color: transparent;

        }
    }
    &__button
    {
        @extend .button;
        position: relative;
        background-color: transparent;
        color: #fff;
        font-size: 1.5rem;

        &-admin
        {
            &:hover + ul
            {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }
    &__notification
    {
        @extend .flex;
        opacity: 0;
        justify-content: center;
        position: absolute;
        font-size: .8rem;
        font-weight: bold;
        pointer-events: none;
        background-color: var(--primary-color);
        top: -.8rem;
        right: -.8rem;
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 100%;

        &.show
        {
            opacity: 1;
            pointer-events: auto;
        }
    }
}

@media only screen and (max-width: 990px) 
{
    .nav-bar
    {
        justify-content:left;

        &__mob-button
        {
            display: flex;
        }
        &__list--none
        {
            display: none;
        }
        &__button
        {
            margin-left: auto;
        }
        &__input-container
        {
            display: none;

            &--mob
            {
                display: flex;
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 500px) 
{
    .nav-bar
    {
        justify-content:left;

        &__mob-button
        {
            display: flex;
        }
        &__list--none
        {
            display: none;
        }
        &__button
        {
            margin-left: auto;
        }
    }
}