<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;700;800&display=swap"
      rel="stylesheet">
   <link rel="stylesheet" href="/css/index.css">
   <link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
   <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
      rel="stylesheet" />
   <script defer src="https://kit.fontawesome.com/da5f644e53.js" crossorigin="anonymous"></script>
   <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
   <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
   <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
   <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
   <script defer type="module" src="/public/javascript/conponents/main.js"></script>
   <title>audioGoose</title>
</head>

<body>
   <div class="body-layer" data-body-layer></div>
   <div class="shopcart" data-shopcart>
      <div class="shopcart__top-container">
         <span>CART (<span class="shopcart__quantity" data-shopcart-quantity>0</span>)</span>
         <button class="shopcart__button-remove" data-shopcart-button-remove>remove all</button>
      </div>
      <template class="shopcart__template" data-shopcart-template>
         <div class="shopcart__product" data-shopcart-product>
            <div>
               <img class="shopcart__product-img" data-shopcart-product-img src="" alt="">
            </div>
            <section class="shopcart__product-section">
                <h5 class="shopcart__product-name" data-shopcart-product-name></h5>
                <span class="shopcart__product-price" data-shopcart-product-price></span>
            </section>
            <form data-shopcart-form>
               <button type="submit" class="shopcart__product-input-button plus" data-shopcart-product-input-button>+</button>
               <input class="shopcart__product-input" type="number" data-shopcart-product-input>
               <button type="submit" class="shopcart__product-input-button minus" data-shopcart-product-input-button>-</button>
            </form>
         </div>
      </template>
      <div class="shopcart__product-container" data-shopcart-product-container></div>
      <div class="shopcart__totals">
         <span>total</span>
         <span data-shopcart-total></span>
      </div>
      <a class="shopcart__link-checkout" href="/checkout">checkout</a>
   </div>
   <div class="notification-block" data-notification-block>
      <div class="notification__container" data-notification-container></div>
      <template data-notification-template>
         <span class="notification" data-notification>
            <div class="notification__icon-check">
               <i class="fa-solid fa-circle-check"></i>
            </div>
            <button class="notification__icon-cross" data-notification-icon-cross>
               <i class="fa-solid fa-xmark"></i>
            </button>
            "<span class="notification__name" data-notification-name></span>" was added To cart
         </span>
      </template>
   </div>
   <header class="header">
      <nav class="nav-bar">
         <button class="nav-bar__mob-button" data-nav-bar-mob-button>
            <div class="nav-bar__mob-button-bars">
               <i class="fa-solid fa-bars"></i>
            </div>
            <div class="nav-bar__mob-button-cross">
               <i class="fa-solid fa-xmark"></i>
            </div>
         </button>
         <a href="/" class="nav-bar__logo">
            <h1>audioGoose</h1>
         </a>
         <ul class="nav-bar__list nav-bar__list--none">
            <li class="nav-bar__item">
               <a class="nav-bar__link" data-nav-bar-link="home" href="/">HOME</a>
            </li>
            <li class="nav-bar__item">
               <a class="nav-bar__link" data-nav-bar-link="headphones" href="/headphones">headphones</a>
            </li>
            <li class="nav-bar__item">
               <a class="nav-bar__link" data-nav-bar-link="speakers" href="/speakers">speakers</a>
            </li>
            <li class="nav-bar__item">
               <a class="nav-bar__link" data-nav-bar-link="earphones" href="/earphones">earphones</a>
            </li>
            <!-- <li class="nav-bar__item">
               <button class="nav-bar__button-admin">admin</button>
               <ul class="nav-bar__list-admin">
                  <li class="nav-bar__item">
                     <a href="/products">products</a>
                  </li>
                  <li class="nav-bar__item">
                     <a href="/products/new">add products</a>
                  </li>
                  <li class="nav-bar__item">
                     <a href="/products/delete">delete products</a>
                  </li>
                  <li class="nav-bar__item">
                     <a href="/brands">brands</a>
                  </li>
                  <li class="nav-bar__item">
                     <a href="/brands/new">add brands</a>
                  </li>
                  <li class="nav-bar__item">
                     <a href="/brands/delete">delete brands</a>
                  </li>
               </ul>
            </li> -->
         </ul>
         <form action="/" method="POST">
            <div class="nav-bar__input-container">
               <button><i class="fa-solid fa-magnifying-glass"></i></button>
               <input type="text" placeholder="Search" name="search">
            </div>
         </form>
         <button class="nav-bar__button" data-nav-bar-button>
            <i class="fa-solid fa-cart-shopping"></i>
            <span class="nav-bar__notification" data-nav-bar-notification>00</span>
         </button>
      </nav>
      </nav>
      <nav class="mob-nav-bar mob-nav-bar--shadow" data-mob-nav-bar>
         <form action="/" method="POST">
            <div class="mob-nav-bar__input-container nav-bar__input-container nav-bar__input-container--mob ">
               <button><i class="fa-solid fa-magnifying-glass"></i></button>
               <input type="text" placeholder="Search" name="search">
            </div>
         </form>
         <ul class="mob-nav-bar__list">
            <li class="mob-nav-bar__item">
               <a href="/headphones" class="mob-nav-bar__link">
                  <img src="../../public/dist/images/mob-nav-bar/image-headphones.png" alt="">
                  <section class="mob-nav-bar__link-section">
                     <h3>
                        headphones
                     </h3>
                     <span>shop <i class="fa-solid fa-angle-right"></i></span>
                  </section>
               </a>
            </li>
            <li class="mob-nav-bar__item">
               <a href="/speakers" class="mob-nav-bar__link">
                  <img src="../../public/dist/images/mob-nav-bar/image-speakers.png" alt="">
                  <section class="mob-nav-bar__link-section">
                     <h3>
                        speakers
                     </h3>
                     <span>shop <i class="fa-solid fa-angle-right"></i></span>
                  </section>
               </a>
            </li>
            <li class="mob-nav-bar__item">
               <a href="/earphones" class="mob-nav-bar__link">
                  <img src="../../public/dist/images/mob-nav-bar/image-earphones.png" alt="">
                  <section class="mob-nav-bar__link-section">
                     <h3>
                        earphones
                     </h3>
                     <span>shop <i class="fa-solid fa-angle-right"></i></span>
                  </section>
               </a>
            </li>
         </ul>
      </nav>
   </header>
   <%- body %>
      <footer class="footer-block">
         <div class="footer">
            <nav class="footer__nav">
               <a href="/">
                  <h1>audioGoose</h1>
               </a>
               <ul class="nav-bar__list">
                  <li class="nav-bar__item">
                     <a class="nav-bar__link" data-nav-bar-link="home" href="/">HOME</a>
                  </li>
                  <li class="nav-bar__item">
                     <a class="nav-bar__link" data-nav-bar-link="headphones" href="/headphones">headphones</a>
                  </li>
                  <li class="nav-bar__item">
                     <a class="nav-bar__link" data-nav-bar-link="speakers" href="/speakers">speakers</a>
                  </li>
                  <li class="nav-bar__item">
                     <a class="nav-bar__link" data-nav-bar-link="earphones" href="/earphones">earphones</a>
                  </li>
            </nav>
            <div class="footer__body">
               <p class="footer__body-description">
                  Audiophile is an all in one stop to fulfill your audio needs. We're a small team of music lovers and
                  sound specialists who are devoted to helping you get the most out of personal audio. Come and visit
                  our demo facility - we’re open 7 days a week.
               </p>
               <p class="footer__body-copyright">
                  Copyright 2021. All Rights Reserved
               </p>
               <div class="footer__body-social">
                  <a href="#" class="footer__body-social-icon">
                     <i class="fa-brands fa-facebook-square"></i>
                  </a>
                  <a href="#" class="footer__body-social-icon">
                     <i class="fa-brands fa-twitter"></i>
                  </a>
                  <a href="#" class="footer__body-social-icon">
                     <i class="fa-brands fa-instagram"></i>
                  </a>
               </div>
            </div>
            <p class="footer__copyright">
               Copyright 2021. All Rights Reserved
            </p>
         </div>
      </footer>
</body>

</html>