<main class="main">
   <div class="hero-block">
      <div class="hero">
         <div class="hero__bg"></div>
         <section class="hero__section">
            <h3 class="hero__section-head">NEW PRODUCT</h3>
            <h1 class="hero__section-title">PRO X | XBOX</h1>
            <p class="hero__section-description">
               Experience natural, lifelike audio and exceptional build quality made for the passionate music
               enthusiast.
            </p>
            <a class="hero__section-link" href="/product/62f2c4cf0b8e9e65df160780">see product</a>
         </section>
      </div>
   </div>
   <div class="content-block">
      <div class="content">
         <nav class="mob-nav-bar mob-nav-bar--desktop">
            <ul class="mob-nav-bar__list">
               <li class="mob-nav-bar__item">
                  <a href="/headphones" class="mob-nav-bar__link">
                     <img src="../../public/dist/images/mob-nav-bar/image-headphones.png" alt="">
                     <section class="mob-nav-bar__link-section">
                        <h3>
                           headphones
                        </h3>
                        <span>shop <i class="fa-solid fa-angle-right"></i></span>
                     </section>
                  </a>
               </li>
               <li class="mob-nav-bar__item">
                  <a href="/speakers" class="mob-nav-bar__link">
                     <img src="../../public/dist/images/mob-nav-bar/image-speakers.png" alt="">
                     <section class="mob-nav-bar__link-section">
                        <h3>
                           speakers
                        </h3>
                        <span>shop <i class="fa-solid fa-angle-right"></i></span>
                     </section>
                  </a>
               </li>
               <li class="mob-nav-bar__item">
                  <a href="/earphones" class="mob-nav-bar__link">
                     <img src="../../public/dist/images/mob-nav-bar/image-earphones.png" alt="">
                     <section class="mob-nav-bar__link-section">
                        <h3>
                           earphones
                        </h3>
                        <span>shop <i class="fa-solid fa-angle-right"></i></span>
                     </section>
                  </a>
               </li>
            </ul>
         </nav>
         <div class="banners">
            <div class="banners__container banners__container--top">
               <section class="banners__container-section">
                  <img class="banners__container-section-img" src="../public/dist/images/home/G560 LIGHTSYNC PC GAMING logi.png"
                     alt="">
               </section>
               <aside class="banners__container-aside">
                  <section>
                     <h1 class="banners__container-item-top-title">G560 LIGHTSYNC</h1>
                     <p class="banners__container-item-top-description">Upgrade to premium speakers that are
                        phenomenally built to deliver truly remarkable sound.</p>
                     <a class="banners__container-item-top-link" href="/product/62f2b9a40b8e9e65df160707">see product</a>
                  </section>
               </aside>
            </div>
            <div class="banners__container banners__container--mid">
               <section class="banners__container-item-section">
                  <h3>Z211 | SPEAKERS</h3>
                  <a href="/product/62f2b8e10b8e9e65df1606f8">see product</a>
               </section>
               <img class="banners__container-img" src="../public/dist/images/home/image-speaker-zx7.jpg" alt="">
               <img class="banners__container-img banners__container-img--mob-1"
                  src="../public/dist/images/home/speaker-mob-1.jpg" alt="">
               <img class="banners__container-img banners__container-img--mob-2"
                  src="../public/dist/images/home/speaker-mob-2.jpg" alt="">
            </div>
            <div class="banners__container banners__container--grid">
               <div class="banners__container banners__container--grid-item">
                  <img class="banners__container-img" src="../public/dist/images/home/image-earphones-yx1.jpg" alt="">
                  <img class="banners__container-img banners__container-img--mob-1"
                     src="../public/dist/images/home/earphone-mob-1.jpg" alt="">
                  <img class="banners__container-img banners__container-img--mob-2"
                     src="../public/dist/images/home/earphone-mob-2.jpg" alt="">
               </div>
               <div class="banners__container banners__container--grid-item">
                  <section class="banners__container-item-section banners__container-item-section--left">
                     <h3>VISTA 2 | EARPHONES</h3>
                     <a href="/product/62f2c3da0b8e9e65df160771">see product</a>
                  </section>
               </div>
            </div>
         </div>
         <div class="bringing">
            <section class="bringing__section">
               <h1>BRINGING YOU THE <span>BEST</span> AUDIO GEAR</h1>
               <p>
                  Located at the heart of New York City, Audiophile is the premier store for high end headphones,
                  earphones,
                  speakers, and audio accessories. We have a large showroom and luxury demonstration rooms available for
                  you
                  to browse and experience a wide range of our products. Stop by our store to meet some of the fantastic
                  people who make Audiophile the best place to buy your portable audio equipment.
               </p>
            </section>
            <aside class="bringing__aside">
               <img class="bringing__aside-img" src="../public/dist/images/home/dude.jpg" alt="">
               <img class="bringing__aside-img bringing__aside-img--mob-1"
                  src="../public/dist/images/home/dude-mob-1.jpg" alt="">
               <img class="bringing__aside-img bringing__aside-img--mob-2"
                  src="../public/dist/images/home/dude-mob-2.jpg" alt="">
            </aside>
         </div>
      </div>

   </div>

</main>