:root
{
    --primary-color: rgb(182, 74, 182);
    --secondary-color: #191919;
    --background-color: rgb(194, 159, 194);
    --background-color3: rgb(218, 196, 218);
    --background-color2: #f1f1f1;
    --text-color-black:rgb(25, 25, 25);
    --text-color: rgba(0, 0, 0, 0.5);
    --text-color2:rgba(255, 255, 255, 0.75);
    --text-font:rgba(255, 255, 255, 0.75);
}