@use '../util/custom-properties';

.flex
{
    display: flex;
    align-items: center;
}
.link,.link-button
{
    display: inline-block;
    color: #000;
    text-decoration: none;
    border: none;
    font-family: 'Manrope', sans-serif;
}
.container
{
    width: 1158px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}
.button,.link-button
{
    display: inline-block;
    border: none;
    cursor: pointer;
}
.link-button
{
   background-color: var(--primary-color);
   color: #fff;
   text-transform: uppercase;
   letter-spacing: .1rem;
   font-size: .9rem;
   font-weight: 800;
   padding: 1rem 2rem;
   transition: ease-in-out 200ms;

   &:hover
   {
      filter:brightness(120%);
   }
}