@use '../../util/extends';
@use '../../util/custom-properties';

.hero-block
{
    background-color: var(--secondary-color);
}
.hero
{
    @extend .flex,.container;
    position: relative;
    overflow: hidden;
    &__bg
    {
        &::after
        {
            content: " ";
            position: absolute;
            background-image: url('../../public/dist/images/hero/desktop.jpg');
            width: 100%;
            height: 116%;
            top: -6em;
            left: 0;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    &__section
    {
        position: relative;
        z-index: 10;
        width: 100%;
        padding: 6.8em 40em 5em 0;

        &-head
        {
            letter-spacing: .6em;
            font-size: 1em;
            opacity: .7;
        }
        &-title
        {
            font-size: 3.5em;
            font-weight:800;
            margin-bottom: .4em;
        }
        &-description
        {
            opacity: .7;
            margin-bottom: 3em;
            padding-right: 10em;
        }
        &-link
        {
            @extend .link-button;
        }
    }
}
@media only screen and (max-width: 990px) 
{
    .hero
    {
        &__bg
        {
            &::after
            {
                background-image: url('../../public/dist/images/hero/mob1.jpg');
                top: -20em;
                height: 200%;
            }
        }
        &__section
        {
            padding: 6.8em 0 6.8em 0;
            margin: 0 auto;
            width: 552px;
            max-width: 100%;
            text-align: center;

            &-description
            {
                padding: 0 5em;
            }
        } 
    }
}
@media only screen and (max-width: 600px) 
{
    .hero
    {
        &__bg
        {
            &::after
            {
                background-image: url('../../public/dist/images/hero/mob1.jpg');
                height: 220%;
            }
        }
        &__section
        {
            font-size: 12px;
        }
    }
}
