<form action="/brands" method="GET">
    <label for="">Brand</label>
    <input type="text" name="brand">
    <button type="submit">add</button>
</form>

<% brands.forEach(brand=> {%>
    <span><%= brand.name %></span> 
<% }); %> 